.box-overlay{
  padding: 25px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  top: 100%;
  max-width: 80vw;
  .register{
    @include display-flex();
    @include justify-content(flex-end);
    @include flex-direction(column);
  }
  h3{
    text-align: center;
    padding-bottom: 10px;
  }
  input{
    height: 25px;
    font-size: 15px;
    font-family: $mainFont;
    border: solid 1px $bordercolor;
  }
}
.canvas{
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  // transform: translateY(100%);
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
}
#accountContainer > .box-overlay{
  @include display-flex();
  @include justify-content(flex-end);
  @include flex-direction(column);
}
#LoginContainer{
  .login span{
    @include display-flex();
    @include align-items(center);
    @include flex-direction(column);
    text-align: center;
  }
}
.gender{
  text-align: center;
  padding: 10px 0;
}
.overlaybtn{
  margin: 25px auto 0px;
  text-align: center;
  padding: 7px;
  width: 80px;
}
