.button {
  text-align: center;
  margin: 25px auto 0px;
  padding: 4px; }

/**
* SassFlexbox
* Manage Flexbox in Sass easily.
*
* @author     Samuel Marchal (zessx)
* @version    0.1
*/
/*
    Display
 */
.box-overlay .register, #accountContainer > .box-overlay, #LoginContainer .login span, #search-bar form div, #search-bar form div .number-return, .previousFlights .prevFlight .previous-search, .search-result, .results, .filters, .filter, .result-box, .flight-info, .price-box, .info, .further-info-button, .further-info-box, .options div, .transport-info, .payment-page .container, .payment-page .center-box, .payment-page .wrap-row, .payment-page .center, .booking-wrapper, .booking-information, .booking-information div, .con-wrapper, .confirmation-info, .booking-number, .information, .passenger-info, .flight-information, .outbound, .inbound, .passengers {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

/*
    Flex direction
 */
.payment-page .wrap-row {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.box-overlay .register, #accountContainer > .box-overlay, #LoginContainer .login span, .results, .flight-info, .price-box, .further-info-box, .payment-page .center-box, .booking-information, .con-wrapper, .confirmation-info, .booking-number, .passenger-info, .flight-information {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

/*
    Flex wrap
 */
.payment-page .wrap-row {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/*
    Flex flow
 */
/*
    Order
 */
/*
    Flex grow
 */
/*
    Flex shrink
 */
/*
    Flex basis
 */
/*
    Flex
 */
/*
    Justify content
 */
.box-overlay .register, #accountContainer > .box-overlay, .payment-page .center {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -webkit-flex-pack: end;
  -ms-flex-pack: end;
  -moz-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.filter, .price-box, .info, .further-info-button, .payment-page .container, .payment-page .center-box, .booking-wrapper, .booking-information div, .con-wrapper, .booking-number {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-flex-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center; }

#search-bar form div, .previousFlights .prevFlight .previous-search, .payment-page .wrap-row {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-flex-pack: justify;
  -ms-flex-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.previousFlights .prevFlight, .search-result, .flight-info, .further-info-box, .booking-information, .outbound, .inbound, .passengers {
  -moz-justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around; }

/*
    Align items
 */
#LoginContainer .login span, #search-bar, #search-bar form div, #search-bar form div .number-return, .previousFlights .prevFlight, .filter, .price-box, .info, .further-info-button, .options div, .transport-info, .booking-wrapper, .booking-information, .booking-information div, .con-wrapper, .booking-number, .passenger-info, .flight-information, .outbound, .inbound {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

/*
    Align self
 */
/*
    Align content
 */
.box-overlay {
  padding: 25px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  top: 100%;
  max-width: 80vw; }
  .box-overlay h3 {
    text-align: center;
    padding-bottom: 10px; }
  .box-overlay input {
    height: 25px;
    font-size: 15px;
    font-family: "Josefin Sans", sans-serif;
    border: solid 1px #B3E5FC; }

.canvas {
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: transparent; }

#LoginContainer .login span {
  text-align: center; }

.gender {
  text-align: center;
  padding: 10px 0; }

.overlaybtn {
  margin: 25px auto 0px;
  text-align: center;
  padding: 7px;
  width: 80px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #E1F5FE;
  min-height: 100%;
  padding-bottom: 50px;
  position: relative;
  font-family: "Josefin Sans", sans-serif; }

.fa {
  color: #0288D1; }

.hidden {
  display: none; }

#search-bar {
  display: flex;
  flex-direction: column;
  padding: 50px 0px;
  background-color: #B3E5FC;
  border-bottom: solid 2px #81D4FA; }
  #search-bar div {
    padding-bottom: 40px; }
  #search-bar form {
    padding: 35px 0 0;
    width: 75vw; }
    #search-bar form div {
      position: relative;
      margin: 0 auto; }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        #search-bar form div {
          flex-direction: column;
          width: 500px;
          max-width: 85%; }
          #search-bar form div span {
            width: 100%;
            text-align: center;
            padding-bottom: 10px; }
          #search-bar form div .number-return {
            justify-content: center; }
            #search-bar form div .number-return .passengers {
              padding-left: 10px; } }
      @media only screen and (max-width: 736px) {
        #search-bar form div {
          flex-direction: column;
          width: 500px;
          max-width: 85%; }
          #search-bar form div span {
            width: 100%;
            text-align: center;
            padding-bottom: 10px; }
          #search-bar form div .number-return {
            justify-content: center; } }
      #search-bar form div .date-span {
        min-width: 345px; }
        @media only screen and (max-width: 736px) {
          #search-bar form div .date-span {
            min-width: 100%; } }
      #search-bar form div .bound-date {
        position: relative; }
        #search-bar form div .bound-date input {
          padding-left: 35px; }
        #search-bar form div .bound-date .fa {
          position: absolute;
          left: 17px;
          top: 9px; }
    #search-bar form input, #search-bar form select {
      margin: 0 5px;
      height: 35px;
      width: 150px;
      background-color: #B3E5FC;
      color: #E1F5FE;
      border: solid 1px #E1F5FE;
      font-family: "Josefin Sans", sans-serif;
      font-size: 20px; }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        #search-bar form input, #search-bar form select {
          width: 100%;
          margin: 2px 0px; } }
      @media only screen and (max-width: 736px) {
        #search-bar form input, #search-bar form select {
          margin: 2px 0px;
          width: 100%; } }
    #search-bar form .passengers {
      width: 30px; }
    #search-bar form .return {
      width: 100px; }
    #search-bar form button {
      height: 35px;
      width: 80px;
      border: none;
      color: white;
      cursor: pointer;
      margin-left: 15px;
      right: 0px;
      -webkit-box-shadow: 0px 0px 4px #888888;
      -moz-box-shadow: 0px 0px 4px #888888;
      box-shadow: 0px 0px 4px #888888;
      -webkit-transition: all 100ms ease;
      -moz-transition: all 100ms ease;
      -ms-transition: all 100ms ease;
      -o-transition: all 100ms ease;
      transition: all 100ms ease; }
      #search-bar form button .fa {
        color: white;
        margin-right: 2px; }
      #search-bar form button:hover {
        -webkit-box-shadow: 0px 0px 0px #888888;
        -moz-box-shadow: 0px 0px 0px #888888;
        box-shadow: 0px 0px 0px #888888; }

.login button {
  border: none;
  width: 100px;
  height: 30px;
  font-size: 20px; }

.previousFlights {
  margin: 0 auto;
  width: 75vw; }
  .previousFlights .prevFlight {
    display: flex;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px; }
    @media only screen and (max-width: 736px) {
      .previousFlights .prevFlight {
        flex-direction: column; } }
    .previousFlights .prevFlight .previous-search {
      width: 400px; }
      @media only screen and (max-width: 736px) {
        .previousFlights .prevFlight .previous-search {
          flex-direction: column;
          max-width: 100%; }
          .previousFlights .prevFlight .previous-search input {
            margin: 10px 0; }
          .previousFlights .prevFlight .previous-search button {
            margin: 0 auto; } }
      .previousFlights .prevFlight .previous-search input {
        height: 25px;
        font-size: 15px;
        font-family: "Josefin Sans", sans-serif;
        border: solid 1px #B3E5FC; }
      .previousFlights .prevFlight .previous-search button {
        width: 60px;
        height: 25px;
        border: none;
        font-size: 15px;
        cursor: pointer;
        text-align: center; }

a {
  text-decoration: none; }

.destinations {
  color: #0288D1; }

.search-result {
  width: 100%; }

.time-filters {
  width: 15vw;
  height: 100vh;
  background-color: #3F51B5; }

.results {
  width: 75vw;
  height: auto;
  margin-top: 25px; }

.filters {
  width: 100%;
  height: 50px; }

.filter {
  width: 25vw;
  height: 100%;
  cursor: pointer; }
  .filter p {
    font-size: 25px;
    color: #4FC3F7; }
    @media only screen and (max-width: 736px) {
      .filter p {
        font-size: 18px; } }

#cheap {
  background-color: #1976D2; }
  #cheap p {
    color: #E1F5FE !important; }

.result-box {
  width: 100%;
  height: 300px; }
  @media only screen and (max-width: 736px) {
    .result-box {
      flex-direction: column;
      height: 230px; } }

.flight-info {
  width: 70%;
  height: 300px;
  color: #0288D1; }
  @media only screen and (max-width: 736px) {
    .flight-info {
      width: 100%;
      height: 120px; } }

.price-box {
  width: 30%;
  height: 300px; }
  .price-box button {
    width: 150px;
    height: 50px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    background-color: #03A9F4;
    color: #E1F5FE; }
    @media only screen and (max-width: 736px) {
      .price-box button {
        font-size: 12px;
        height: 30px;
        width: 100px; } }
  .price-box p {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
    color: #01579B; }
    @media only screen and (max-width: 736px) {
      .price-box p {
        font-size: 22px;
        padding-bottom: 5px; } }
  @media only screen and (max-width: 736px) {
    .price-box {
      width: 100%;
      height: 100px; } }

.info {
  width: 100%;
  height: 100px; }
  .info p {
    font-size: 30px;
    padding: 10px; }
    @media only screen and (max-width: 736px) {
      .info p {
        font-size: 20px; } }
  @media only screen and (max-width: 736px) {
    .info {
      height: 50px; } }
  .info i {
    font-size: 40px; }

.further-info-button {
  width: 100%;
  height: 30px;
  border-top: solid 1px #B3E5FC;
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 10px; }
  .further-info-button p {
    color: #4FC3F7;
    border-bottom: 2px solid #4FC3F7; }

.further-info-box {
  height: 150px;
  width: 100%;
  padding-left: 10px;
  color: #0288D1;
  font-size: 18px; }

.need-adress {
  text-align: center;
  font-size: 20px; }

.options div p {
  margin-left: 10px; }

.option-header {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 5px; }

.transport-info i {
  padding-left: 8px; }

.payment-page * {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.payment-page .container {
  margin-top: 100px;
  width: 100%;
  height: 100vh; }

.payment-page .center-box {
  padding: 20px;
  width: 40%;
  height: 400px;
  background-color: #66BB6A; }
  @media only screen and (max-width: 768px) {
    .payment-page .center-box {
      width: 90%; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .payment-page .center-box {
      width: 70%; } }

.payment-page input[type="text"] {
  padding: 5px;
  height: 35px;
  font-size: 15px;
  border-style: none;
  border-radius: 3px;
  width: 100%; }

.payment-page .row {
  color: white;
  padding: 5px;
  min-height: 50px;
  width: 100%; }

.payment-page .wrap-row {
  padding: 5px;
  width: 100%; }

.payment-page .small-item {
  width: 31%; }

.payment-page button {
  width: 100px;
  height: 50px;
  border-style: none;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  background-color: #FF5722;
  margin-top: 20px; }

.card {
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #B3E5FC;
  border-bottom-color: #81D4FA;
  border-width: 1px 1px 2px 1px; }

.search-card {
  width: 100%;
  margin-top: 15px; }

.regular-button {
  background-color: #03A9F4 !important;
  color: #E1F5FE !important;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer; }

.booking-wrapper {
  width: 100%;
  height: 100vh; }

.booking-information {
  height: 500px;
  width: 400px; }
  .booking-information p {
    font-size: 25px;
    color: #0288D1;
    font-weight: bold; }
  .booking-information input {
    width: 220px;
    height: 30px;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    color: #0288D1;
    border: solid 1px #B3E5FC; }
  .booking-information div {
    width: 100px;
    height: 30px;
    cursor: pointer; }

.con-wrapper {
  width: 100%;
  height: 700px;
  color: #0288D1; }

.confirmation-info {
  width: 80%;
  height: 400px; }

.booking-number {
  height: 70px;
  width: 100%;
  border-bottom: solid 1px #B3E5FC; }
  .booking-number p {
    font-size: 20px;
    margin-bottom: 5px; }
  .booking-number h1 {
    color: #03A9F4; }

.information {
  width: 100%;
  height: 330px; }

.passenger-info, .flight-information {
  width: 50%;
  height: 100%; }
  .passenger-info .info-header, .flight-information .info-header {
    height: 20px;
    text-transform: uppercase;
    border-bottom: solid 2px #0288D1;
    margin-top: 15px; }

.flight-information {
  border-right: solid 1px #B3E5FC; }

.outbound, .inbound {
  width: 90%;
  height: 100px;
  border-top: solid 1px #B3E5FC;
  border-bottom: solid 1px #B3E5FC;
  margin-top: 20px; }

.bound-info {
  color: #4FC3F7;
  font-weight: bold;
  font-size: 25px;
  margin-top: 5px; }

.passengers {
  width: 100%;
  height: 100px;
  margin-top: 30px; }
